@model IEnumerable<Zombie.Models.GameData>
 
<h2>Список сохранений</h2>
<p><a asp-action="Create">Добавить созранение</a></p>
<table class="table">
    <tr><th>Kills</th><th>Health</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Kills</td>
            <td>@item.Health</td>
        </tr>
    }
</table>